{% extends "base.html.twig" %}

{% block h1 %}{{nomVille}}{% endblock %}

{% block body %}
<div class="card" style= "width: 5rem; background-color: rgba(255, 255, 255, 0.5);">
    <h4>{{ temperature }} °C</h4>
    <h4>{{ temps }}</h4>
</div>

<div class="container">
    <div class="row">
    {% for hotel in hotelData %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('/uploads/' ~ hotel.hotelImage)}}" class="card-img-top" alt="..." style="height: 200px; width: 100%; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.hotelName }}</h5>
                    <h5 class="card-title">{{ hotel.hotelAdresse }}</h5>
                    <p class="card-text">{{ hotel.hotelDescription}}</p>
                    <p>Réserver avec: 
                        <a href="">LeclercVoyage</a>
                        <a href="">Promovacance</a>
                        <a href="">Carrefour Voyage</a>
                    </p>
                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}