{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block h1 %}Page d'accueil {% endblock %}

{% block body %}
<div class="flash-alert">
{% for label, messages in app.flashes %}
     {% for message in messages %}
          <div class="flash-{{ label }}">
               {{ message }}
          </div>
     {% endfor %}
{% endfor %}
</div>
<h2 class="text-center">Nos Pays Favoris</h2>
<div class="d-flex justify-content-center">
    {% for pays in favorisPays %}
        <div class="card" style="width: 10rem;">
            {% for imageURL in pays.images %}
                <img src="{{ asset('/uploads/' ~ imageURL) }}" class="card-img-top" style="width: 100%" alt="">
            {% endfor %}
            <div class="card-body">
              <h5 class="card-title">{{ pays.nom }}</h5>
              <p class="card-text"> {{ pays.description }}</p>
              <a href="#" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
    {% endfor %}
</div>

<h4>Bienvenue sur la page d'acceuil du site easyVoyage</h4>

<script>
$(document).ready(function() {
    //On itérer sur chaque élément qui a la classe 'flash-alert'
    $(".flash-alert").each(function() {
        //On vérifier si l'élément contient du texte
        if ($(this).text().trim().length > 0) {
            //On applique les style si l'élément contient du texte
            $(this).css({
                "background-color": "green",
                "color": "white",
                "padding": "10px",
                "border-radius": "5px",
                "font-size": "20px",
                "display": "inline-block",
                "margin": "10px",
            });
            //On programmer la disparition de l'élément après 3 secondes
            setTimeout(function() {
               $(this).fadeOut("slow");
            }.bind(this), 3000); //On utiliser '.bind(this)' pour conserver le contexte de 'this' dans la fonction de timeout
        }
    });
});
</script>
{% endblock %}
