{% extends "base.html.twig" %}

{% block h1 %}Modifiez le Pays{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-auto">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        <div class="pays-description">
            {{ form_row(form.description) }}
        </div>
        {{ form_row(form.favoris) }}
        {% for image in pay.paysImages %}
            <img src="{{ asset('/uploads/' ~ image.name )}}" alt="image de Pays">
            <a href="{{ path('pays_delete_images', {'id': image.id}) }}" data-id= image.id class="delete-image"
                 data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer l'image</a>
        {% endfor %}
        {{ form_row(form.images) }}
        <button type="submit" class="btn btn-primary">Enregistrez</button>
        {{ form_end(form) }}
    </div>
</div>

<script>
document.querySelectorAll('.delete-image').forEach(link => {
    link.addEventListener('click', function(e) {
        e.preventDefault(); // Empêcher le lien de suivre son URL

        if (confirm('Êtes-vous sûr de vouloir supprimer cette image ?')) { // Demander confirmation
            const url = this.getAttribute("href");
            console.log(url);
            const token = this.dataset.token; // Récupérer le token CSRF
console.log(token);
            xhr = new XMLHttpRequest();
            xhr.open("DELETE", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4){
                    var respone = JSON.parse(xhr.responseText);
                    if(xhr.status === 200 && response.success){
                        console.log('Image supprimer avec succès');
                    } else {
                        console.error('Echec lors de la suppression'. response.error);
                    }
                }
            };
            xhr.send(JSON.stringify({_token: token}));
        }
    });
});


</script>
{% endblock %}
